<div class="container_show_outfit">
  <div class="outfit_pictures" data-controller="pictures">
    <div class="outfit_thumbnails">
      <% @outfit.photos.each do |photo| %>
        <div data-action="click->pictures#update">
          <%= cl_image_tag photo.key, crop: :fill, class: "thumbnail", data: { pictures_target: "thumbnail" } %>
        </div>
      <% end %>
    </div>

    <div class="outfit_view" data-pictures-target="view">
      <%= cl_image_tag @outfit.photos.first.key, crop: :fill %>
    </div>
  </div>

  <div class="outfit_details">
    <div class="outfit_details_section">
      <h1><%= @outfit.title %></h1>
      <p><%= @outfit.description %></p>
    </div>
    <div class="outfit_details_section">
      <p>Size: <%= @outfit.size %></p>
      <p>Animal: <%= @outfit.animal %></p>
      <p>Occasion: <%= @outfit.occasion %></p>
      <p>Price per day: <%= @outfit.price_per_day %> CAD</p>
    </div>
    <div class="user">
      <%= image_tag @outfit.user.avatar_url, class: "avatar" %>
      <p><%= @outfit.user.first_name %> is the owner</p>
    </div>
    <%= link_to "Book now!", new_outfit_booking_path(@outfit), class: "btn btn-book" %>
  </div>
</div>
