<h2><%= @outfit.title %></h2>
<h4>for<%=  @outfit.animal %></h4>

<div>
    <% if @outfit.occasion != nil %>
      <p>Special Occasion: <%=@outfit.occasion %></p>
    <% end %>
    <p>Size: <%= @outfit.size  %></p>
    <p>Description: </p><%= @outfit.description %>
  </p>
</div>

<div>
  <h4>Price per day: $<%= @outfit.price_per_day %></h4>
</div>
<%= link_to "Book now ! ",  new_outfit_booking_path(@outfit) %>
