<h1>Bookings Requests</h1>

<div>
  <% @bookings.each do |booking| %>
    <h3><%= booking.outfit.title %></h3>
    <p>Booking status: <%= booking.status %></p>
    <p><%= booking.start_date %> - <%= booking.end_date %></p>
      <% if booking.status == "pending" %>
        <%= button_to "Accept", booking_accept_path(booking), method: :patch %>
        <%= button_to "Decline", booking_decline_path(booking), method: :patch %>
      <% end %>
  <% end %>
</div>
